{% extends "base.html" %}

{% block 'body' %}

<div class="bg-purple-50 min-h-screen">

    <div class="py-14 sm:py-14">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <img class="size-16 rounded-full" src="{{consulta.paciente.foto.url}}" alt="">
            <p class="mt-4 text-pretty text-4xl font-semibold tracking-tight text-purple-800 sm:text-4xl">{{consulta.paciente.nome}}</p>
          </div>
        </div>
    </div>
    
    <div class="bg-purple-50 h-screen border-t-1 border-purple-200 ">
        <div class="max-w-7xl mx-auto px-6 lg:px-8 mt-6">
            
              
            <video class="w-full" controls>
                <source src="{{consulta.video.url}}" type="video/mp4">
            </video>

            <div class="mt-8">
               
                <div class="mt-8 flow-root">
                  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                      <table class="min-w-full divide-y divide-purple-300">
                        <thead>
                          <tr class="divide-x divide-purple-200">
                            <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-purple-900 sm:pl-0">Tarefa</th>
                            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-purple-900">descrição</th>
                            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-purple-900">frequencia</th>
                          </tr>
                        </thead>

                        <tbody class="divide-y divide-purple-200 bg-white">
                            {% for tarefa in consulta.tarefas.all %}
                                <tr class="divide-x divide-purple-200">
                                    <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-purple-900 sm:pl-0">{{tarefa.tarefa}}</td>
                                    <td class="whitespace-nowrap p-4 text-sm text-purple-500">{{tarefa.instrucoes}}</td>
                                    <td class="whitespace-nowrap p-4 text-sm text-purple-500">{{tarefa.get_frequencia_display}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>

                      </table>
                    </div>
                  </div>
                </div>
              </div>
              

        </div>


    </div>
    
</div>


{% endblock 'body' %}

{% block 'footer' %}

<footer class="bg-purple-900 text-white text-center py-4">
  © 2025 SeuSite.com - Todos os direitos reservados.
</footer>

{% endblock 'footer' %}