{% extends "base.html" %}

{% load static %}

{% block 'body' %}

    <div class="min-h-screen flex items-center justify-center px-4 py-10 bg-center bg-no-repeat bg-cover" style="background-image: url('{% static "images/Background_app_psicologia.jpg" %}'); background-color: rgba(255, 255, 255, 0.5); background-size: 110% 110%; background-blend-mode: overlay;">
    
    <div class="py-50 sm:py-50">
        <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
          <div class="max-w-xl">
           
            <h2 class="text-pretty text-3xl font-semibold tracking-tight text-purple-900 sm:text-4xl">Cadastro de pacientes</h2>

            {% if messages %}
                {% for message in messages %}

                    <div class="mt-5 rounded-md {{message.tags}}">

                        <div class="flex">
                            
                            <div class="ml-3 py-2">

                                {{message}}

                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}

            
            <form action="{% url 'pacientes' %}" method="POST" enctype='multipart/form-data'> {% csrf_token %}
                <label for="nome" class="block mt-5 text-sm/6 font-medium text-purple-600">Nome</label>
                <div class="mt-2">
                    <input type="text" name="nome" id="nome" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-purple-300 placeholder:text-purple-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>

                <label for="email" class="block mt-2 text-sm/6 font-medium text-purple-600">Email</label>
                <div class="mt-2">
                    <input type="email" name="email" id="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-purple-300 placeholder:text-purple-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>

                <label for="telefone" class="block mt-2 text-sm/6 font-medium text-purple-600">Telefone</label>
                <div class="mt-2">
                    <input type="text" name="telefone" id="telefone" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-purple-300 placeholder:text-purple-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                </div>

                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label for="telefone" class="block mt-2 text-sm/6 font-medium text-purple-600">Queixa</label>
                        <div class="mt-2">
                            <select name="queixa" class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-purple-300 placeholder:text-purple-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                                
                                {% for queixa in queixas %}
                                <option value="{{queixa.0}}">{{queixa.1}}</option>
                                {% endfor %}

                                
                                
                            </select>
                            
                        </div>
                    </div>

                    <div>
                        <label for="foto" class="block mt-2 text-sm/6 font-medium text-purple-600">Foto</label>
                        <div class="mt-2">
                            <input type="file" required name="foto" id="foto" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-purple-300 placeholder:text-purple-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                    </div>
                    
                </div>
                <button type="submit" class="inline-flex justify-center rounded-md bg-purple-900 mt-7 cursor-pointer px-3 py-2 w-full text-sm font-semibold text-purple-100 shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600">Cadastrar paciente</button>
            </form>
        </div>

          <ul role="list" class="mt-10 grid gap-x-8 gap-y-12 sm:grid-cols-3 sm:gap-y-16 xl:col-span-2">

            {% for paciente in pacientes %}
                <li>
                <div class="px-15 flex items-center gap-x-6">
                    <img class="size-20 rounded-full border-3 border-purple-500 shadow-lg" src="{{paciente.foto.url}}" alt="">
                    <div>
                    <a href="{% url 'paciente_view' paciente.id %}" class="text-base/7 font-semibold tracking-tight text-purple-900">{{paciente.nome}}</a>
                    <p class="text-sm/6 font-semibold text-purple-500">{{paciente.queixa}}</p>
                    </div>
                </div>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
    </div>

{% endblock 'body' %}

{% block 'footer' %}

<footer class="bg-purple-900 text-purple-50 text-center py-4">
  © 2025 App Psicologia - Todos os direitos reservados.
</footer>

{% endblock 'footer' %}
