{% extends "base.html" %}

{% load static %}

{% block 'body' %}

<div class="min-h-screen flex items-center justify-center px-4 py-10 bg-center bg-no-repeat bg-cover" style="background-image: url('{% static "images/Background_app_psicologia.jpg" %}'); background-color: rgba(255, 255, 255, 0.5); background-size: 110% 110%; background-blend-mode: overlay;">

  <div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-purple-50 p-10 rounded-xl shadow-md border border-purple-900">
      <div>
        <h2 class="text-center text-3xl font-extrabold text-purple-800">Esqueceu a senha?</h2>
        <p class="mt-2 text-sm text-purple-700 text-center">Insira seu e-mail cadastrado.</p>
      </div>

      {% if messages %}
        {% for message in messages %}
          <div class="text-sm text-center {% if message.tags == 'success' %}text-green-600{% else %}text-red-600{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <form class="mt-8 space-y-6" action="" method="POST">
        {% csrf_token %}
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email" class="sr-only">E-mail</label>
            <input id="email" name="email" type="email" required class="appearance-none rounded-md bg-white relative block w-full px-3 py-2 border border-purple-300 placeholder-purple-400 text-gray-900 focus:outline-none focus:ring-purple-600 focus:border-purple-600 focus:z-10 sm:text-sm" placeholder="Insira seu e-mail">
          </div>
        </div>

        <div>
          <button type="submit" class="group relative w-full flex justify-center uppercase cursor-pointer py-2 px-4 border border-transparent text-sm font-medium rounded-md text-purple-100 bg-purple-900 hover:bg-purple-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
            Recuperar senha
          </button>
        </div>
      </form>

      <p class="mt-2 text-sm text-center text-purple-600">
        <a href="{% url 'user_login' %}" class="hover:underline">LOG IN</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block 'footer' %}
<footer class="bg-purple-900 text-purple-50 text-center py-4">
  © 2025 App Psicologia - Todos os direitos reservados.
</footer>
{% endblock 'footer' %}